<!DOCTYPE html>
<html>

    <head>
        <title>Final Assessment - Soul Raj Joshi</title>
        <script src="./js/lib/angular.js"></script>
        <script src="./js/app.js"></script>
        <script src="./js/controllers/MainController.js"></script>
        <script src="./js/factories/HomeworkFactory.js"></script>
    </head>

    <body ng-app="finalAssessment" ng-controller="MainController">
        <h1 align="center"> Frontend Final Assessment </h1>
        <a href="./about">About</a><br><br>
        Click on the Assignment name to view status. <br>
        <ul>
            <div
                ng-repeat="homework in homeworks" 
                ng-click='showDetails=true'>
                <li>{{homework.assignment}}
                <div ng-show='showDetails'>
                    URL: <a href="{{homework.url}}">{{homework.url}}</a><br>
                    Status: {{homework.status}} <br> <br>
                </div>
            </div>
        </ul>
    </body>
</html>